body {
  background-color: #1D1D1D;
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
}
body:before {
  content: '';
  position: fixed;
  top: 15px;
  height:100%;
  left: 50%;
  bottom: 0px;
  width: 4px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border:1px;
  background-color: white;
}
.entries {
  width: 800px;
  margin: auto;
  float:
  right:5px;
}
.entries .entry {
  width: 320px;
  padding: 20px;
  clear: both;
  text-align: right;
}
.entry:not(:first-child) {
  margin-top: -140px;
}
.title {
  font-size: 42px;
  margin-bottom: 12px;
  position: relative;
  background-image: linear-gradient(to right, deeppink, dodgerblue);
  -webkit-background-clip: text;
  color: transparent;
}
.title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #ffffff;
  background-color: #1D1D1D;
  border-radius: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -73px;
  z-index: 1000;
}
.entries .entry .body {
  color: rgb(240, 226, 226);
}
.entries .entry .body p {
  line-height: 1.4em;
}
.entries .entry:nth-child(2n) {
  text-align: left;
  float: right;
}
.entries .entry:nth-child(2n) .title:before {
  left: -63px;
}
.entries .entry:nth-child(2n) .title.big:before {
  -webkit-transform: translate(-8px, -50%);
          transform: translate(-8px, -50%);
}
